language: ruby

cache: bundler

rvm:
  - 2.2.7
  - 2.3.4
  - 2.4.2
  - 2.5.1

before_install:
  - gem update --system

gemfile:
  - gemfiles/rails_4.gemfile
  - gemfiles/rails_5.gemfile
  - gemfiles/rails_5_1.gemfile
  - gemfiles/rails_5_2.gemfile

